@* persolist Template File *@
@(personList: List[Person])

<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/css/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("DataTables-1.10.6/media/css/jquery.dataTables.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("DataTables-1.10.6/extensions/ColReorder/css/dataTables.colReorder.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("DataTables-1.10.6/extensions/ColVis/css/dataTables.colVis.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <style>
        	tfoot input {
		        width: 100%;
		        padding: 3px;
		        box-sizing: border-box;
		    }
        </style>
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("DataTables-1.10.6/media/js/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("DataTables-1.10.6/media/js/jquery.dataTables.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("DataTables-1.10.6/extensions/ColVis/js/dataTables.colVis.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("DataTables-1.10.6/extensions/ColReorder/js/dataTables.colReorder.js")" type="text/javascript"></script>
    </head>
    <body>
    	
			
			<div class="container">
			    <script>
				    $(document).ready(function() {
				    	$('#example tfoot th').each( function () {
				            var title = $('#example thead th').eq( $(this).index() ).text();
				            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
				        } );
				        
		         		var table = $('#example').DataTable( {
							        	"columns": [
							        	            { "data": "id" },
							        	            { "data": "name" },
							        	            { "data": "birthday" }    
							        	           ],
							        	"dom": 'RC<"clear">lfrtip',
							        	"columnDefs": [
							        	             { visible: false, targets: 1 }
							        	         ],
							        	"ajax": {
							                "url": "getpersonlist",
							                "dataSrc": "data",
							                "dataType": "json",
							                "cache": false,
							                "contentType": "application/json; charset=utf-8"							                
							            },
							            "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {                
							            	$(nRow).on('click', function() {
							            		  alert('id:' + aData.id);
							            	      console.log('Row Clicked. Look I have access to all params, thank You closures.', this, aData, iDisplayIndex, iDisplayIndexFull);
							            	      document.location.href = "/persondetail/" + aData.id;
							            	});
							            	 $('td', nRow).on('click', function() {
								            	  
							            	      console.log('Col Clicked.', this, aData, iDisplayIndex, iDisplayIndexFull);
							            	    });
							            },
							        });

		         	// Apply the search
		         	    table.columns().every( function() {
		         	        var that = this;
		         	 
		         	        $( 'input', this.footer() ).on( 'keyup change', function () {
		         	            that
		         	                .search( this.value )
		         	                .draw();
		         	        } );
		         	    } );
				         			
				       
				    } );
			    </script>
				<table id="example" class="display">
					 <thead>
			            <tr>
			                <th>Id</th>
			                <th>Name</th>
			                <th>Birthday</th>
			                
			            </tr>
        			</thead>
        			<tfoot>
            		  <tr>
                        <th>Id</th>
			            <th>Name</th>
			            <th>Birthday</th>
                      </tr>
                    </tfoot>
				</table>
				
        	</div>
		
    </body>
</html>
